<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-e_MentoringWeb-30445630-f8f8-4b9f-ab19-ae13830d11e8;AttachDbFilename=|DataDirectory|\aspnet-e_MentoringWeb-30445630-f8f8-4b9f-ab19-ae13830d11e8.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=mentoringukmi.database.windows.net;Initial Catalog=mentoringukmi;User ID=apriantoni;Password=Polemix15" providerName="System.Data.SqlClient" />
    <add name="MentoringString" connectionString="Data Source=mentoringukmi.database.windows.net;Initial Catalog=mentoringukmi;User ID=apriantoni;Password=Polemix15" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
          <add name="HttpSoap12" />
          <add name="HttpSoap" />
        </protocols>
      </webServices>
    </system.web>
  <system.web>
        <customErrors mode="Off" />
    </system.web>

</configuration>
